#addImg {
  margin: 10px;
  width: 70px;
  border: 3px solid black;
}

#addImg:hover {
  border: 3px solid green;
}

td, th {
  border: 2px solid black;
}

td:first-child {
  width: 350px;
}

td:last-child {
  padding: 0px;
  border: 3px solid black;
}

td:first-child:hover {
  border: 2px solid green;
}

td:last-child:hover {
  border: 3px solid red;
}

td:last-child img {
  width: 25px
}
